* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 500px;
  width: 100%;
  background-color: hsl(225, 23%, 24%);
  color: hsl(200, 60%, 99%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 4px 10px #888888;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.container h1 {
  font-weight: 500;
  text-align: center;
}

.container h1:after {
  content: "";
  height: 2px;
  width: 120px;
  display: block;
  background: linear-gradient(90deg, transparent, #ff8c00, transparent);
  margin: 15px auto 0;
  box-shadow: 0 0 10px #ff8c00;
}

.container .Snippet {
  text-align: center;
  font-size: 1rem;
  white-space: pre-wrap;
   user-select: text;
}

.container .copyBtn {
  padding: 10px 20px;
  background-color: orange;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease , background-color 0.2s ease;
}

.container .copyBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 4px orange;
}

.container .copyBtn:focus {
  outline: none;
  outline: 2px solid orange;
  outline-offset: 2px;
}
